<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>City_Label_Title</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>20</integer>
		<key>font_color_red</key>
		<integer>255</integer>
		<key>font_color_green</key>
		<integer>255</integer>
		<key>font_color_blue</key>
		<integer>255</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Temperature_Label_Big</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>38</integer>
		<key>font_color_red</key>
		<integer>255</integer>
		<key>font_color_green</key>
		<integer>255</integer>
		<key>font_color_blue</key>
		<integer>255</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Temperature_Label_Mid</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>20</integer>
		<key>font_color_red</key>
		<integer>255</integer>
		<key>font_color_green</key>
		<integer>255</integer>
		<key>font_color_blue</key>
		<integer>255</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Temperature_Label_Small</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>10</integer>
		<key>font_color_red</key>
		<integer>255</integer>
		<key>font_color_green</key>
		<integer>255</integer>
		<key>font_color_blue</key>
		<integer>255</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>City_Name_Label</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>30</integer>
		<key>font_color_red</key>
		<integer>255</integer>
		<key>font_color_green</key>
		<integer>255</integer>
		<key>font_color_blue</key>
		<integer>255</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Loading_Title_Label</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>10</integer>
		<key>font_color_red</key>
		<integer>100</integer>
		<key>font_color_green</key>
		<integer>100</integer>
		<key>font_color_blue</key>
		<integer>100</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Settings_Title_Label</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>18</integer>
		<key>font_color_red</key>
		<integer>80</integer>
		<key>font_color_green</key>
		<integer>80</integer>
		<key>font_color_blue</key>
		<integer>80</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Settings_Title_Label_Selected</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>18</integer>
		<key>font_color_red</key>
		<integer>88</integer>
		<key>font_color_green</key>
		<integer>153</integer>
		<key>font_color_blue</key>
		<integer>215</integer>
		<key>font_color_opacity</key>
		<integer>1</integer>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
	<key>Temperature_Label_VeryBig</key>
	<dict>
		<key>font</key>
		<string>Existence-Light</string>
		<key>font_size</key>
		<integer>50</integer>
		<key>font_color_red</key>
		<integer>255</integer>
		<key>font_color_green</key>
		<integer>255</integer>
		<key>font_color_blue</key>
		<integer>255</integer>
		<key>font_color_opacity</key>
		<real>1</real>
		<key>shadow_offset_width</key>
		<integer>0</integer>
		<key>shadow_offset_height</key>
		<integer>0</integer>
		<key>shadow_color_red</key>
		<integer>0</integer>
		<key>shadow_color_green</key>
		<integer>0</integer>
		<key>shadow_color_blue</key>
		<integer>0</integer>
		<key>shadow_color_opacity</key>
		<real>0</real>
		<key>shadow_radius</key>
		<real>0</real>
	</dict>
</dict>
</plist>
